* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

header {
  background-color: #cf2b2b;
  padding-left: 21px;
  padding-top: 8px;
  padding-bottom: 18px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

h1 {
  font-family: Righteous;
  font-size: 44px;
  color: white;
  font-weight: 400;
  line-height: 54.63px;
  margin-bottom: 5px;
}

h2 {
  font-family: Roboto;
  font-size: 18px;
  color: white;
  font-weight: 400;
  line-height: 21.09px;
}

main {
  margin-top: 123px;
  margin-bottom: 108px;
}

h3 {
  font-family: Righteous;
  font-size: 26px;
  color: #333333;
  font-weight: 400;
  line-height: 32.28px;
  margin-left: 19px;
  margin-bottom: 17px;
}

.item {
  width: 172px;
  height: 216px;
  background-color: #ffffff;
  border-radius: 9px;
  margin-left: 19px;
  margin-bottom: 27px;
}

.item img {
  width: 144px;
  height: 87px;
  margin: 18px 14px 8px 14px;
}

.item p:first-of-type {
  font-family: Roboto;
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  line-height: 18.75px;
  margin-left: 15px;
  margin-bottom: 4px;
}

.item p:nth-child(3) {
  font-family: Roboto;
  font-size: 15px;
  color: #a6a6a6;
  font-weight: 300;
  line-height: 17.58px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.item p:last-child {
  font-family: Roboto;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  line-height: 18.75px;
  margin-left: 14px;
  margin-bottom: 13px;
}

footer {
  height: 92px;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.finalizar {
  background-color: #cbcbcb;
  color: #ffffff;
  width: 364px;
  height: 61px;
  margin: 8px 40px;
  border: none;
  border-radius: 50px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
}
